<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 mt-4">
      <h1>Profil de <%= @user.name %></h1>
      <% @user.bookings.each do |booking| %>
      <div class="card-reservation w-100 ">
        <div class="card-body">
          <h3 class="card-title"><strong>Réservation</strong></h5>
          <p class="card-text">Du <%= booking.start_date%> au <%= booking.end_date%>.</p>
          <p class="card-text"> <strong><%= booking.horse.name%>, <%= booking.horse.breed %></strong></p>
          <h5 class="card-text"><strong><%= booking.total_price%>€</strong></h5>
          <p class="card-text justify-content-end"><%= booking.status.upcase%></p>
          <%= cl_image_tag booking.horse.photo.key, height: 300, width: 400, crop: :fill %>
          <a href="#" class="btn btn-danger text-white d-inline-flex p-2">Voir la réservation</a>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-4 mt-4">
      <h1 class="">Informations</h1>
      <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
          <div class="user text-center">
            <div class="profile">
              <img src="homme.jpg" class="rounded-circle" width="80">
            </div>
          </div>
          <div class="mt-5 text-center">
            <h4 class="mb-0">Frédéric XX </h4>
            <button class="btn btn-primary btn-sm voir-chevaux">Voir mes cheveaux</button>
            <div class="d-flex justify-content-between align-items-center mt-4 px-4">
              <div class="stats">
                <h6 class="mb-0">Nombre de cheveaux</h6>
                <span>4</span>
              </div>
              <div class="stats m-4">
                <h6 class="mb-0">Mes réservations</h6>
                <span>42</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container mt-3">
  <h1>Réservation précédentes</h1>
  <% @user.horses.each do |horse| %>

  <div class="row">
    <div class="col-md-3 mt-2">
      <div class="card-group">
        <div class="card-bookings">
          <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/01/30/15/14/akita-5964180_1280.jpg" alt="Card image">
          <div class="card-body">
            <h5 class="card-title mt-2"><strong><%= horse.name %></strong></h5>
            <p class="card-text"><em><%= horse.breed %></em></p>
            <button type="button" class="btn btn-danger text-white mt-4 mb-2">Voir le cheval</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
