<div class="card-show">
  <div class="show-vertical">

    <div class="card-format">
      <%= image_tag "fondback.jpg" %>
        <div id="cardformatpagging">
          <h1 class="name-title"><strong><%= @horse.name %></strong> </h1>
          <div class="paragraphe">
            <h3 class="sous-title"><strong style="color: black;"><%= "#{@horse.breed}" %></strong><%=" | #{@horse.specialty} |" %></h3>
              <ul class="orgalist" id="listicone">
                <li><i class="fa-solid fa-cake-candles fa-xl fontawseomeform"></i><%="   #{@horse.age}"%>ans</li>
                <li><i class="fa-solid fa-user fa-xl fontawseomeform"></i><%="   #{@horse.user.name}"%></li>
                <li><i class="fa-solid fa-venus-mars fa-xl"></i> <%="     #{@horse.sex}"%></li>
                <li><i class="fa-solid fa-city fa-xl"></i> <%="    #{@horse.city}"%></li>
              </ul>
          </div>
        </div>

        <div class="separation"></div>

        <div class="name-title-description">
          <h1 class="name-title-describ"><strong><%= "Description" %></strong> </h1>
          <p class="paragraphedescrib"><%= "#{@horse.description}" %></p>
        </div>
    </div>

    <div class="card-format2" data-controller="price" data-price="<%= @horse.price %>">
      <%= image_tag "fondback.jpg" %>
         <div id="cardformat2pagging">
            <h1 class="name-title"><strong>Réservation</strong></h1>
            <%= simple_form_for [@horse, @booking] do |f| %>
              <div class="container">
                <div class="row">
                  <%= f.input :start_date, as: :date, label:"Date de départ", placeholder:"17/03/2023", html5: true, input_html: { data: { "price-target": "startDate", action: "change->price#result" } } %>
                  <%= f.input :end_date, as: :date, label:"Date de retour", placeholder:"23/03/2023", html5: true, input_html: { data: { "price-target": "endDate", action: "change->price#result" } } %>
                </div>
                <div class="row">
                  <div class="col-6 ">
                    <p ><strong><%= "#{@horse.price}€"%></strong><%= "/ Jour" %></p>
                    <div id="margin0">
                      <h2 data-price-target="priceTag">--€</h2>
                    </div>
                  </div>
                  <div class="col-6  d-flex justify-content-end">
                    <%= f.submit class:"btn btn-pmured mt-4", value:"Réserver"%>
                  </div>
                </div>
                <% end %>
              </div>
          </div>
    </div>
  </div>


  <div class="format">
    <%= cl_image_tag @horse.photo.key, class:"img-cheval" %>
  </div>

</div>
