<div class="container">
  <div class="d-flex justify-content-between align-items-center col-lg-10 offset-lg-1 mt-5">
    <div>
      <h1>L'écurie 🏇</h1>
      <h3>Voici les chevaux que vous avez enregistré chez nous...</h3>
    </div>
    <%= link_to "AJOUTER UN CHEVAL", new_owner_horse_path, class: 'btn-pmured align-self-center' %>
  </div>
  <div class="horse-card-grid mx-auto my-5">
      <% @horses.each do |horse| %>
        <a href="<%= horse_path(horse) %>" class="horse-card">
          <%= cl_image_tag horse.photo.key, class: "img-fluid" %>
            <div class="horse-card-details p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h3><%= horse.name.upcase %></h3>
                  <div class="breed">
                    🐴 <%= horse.breed.upcase %>
                  </div>
                </div>
                <div class="price">
                  <%= horse.price %>€ / J
                </div>
              </div>
          </div>
        </a>
      <% end %>
  </div>
  <div class="booking-card d-flex">
    <img src="http://res.cloudinary.com/dyrhk2o2p/image/upload/v1/development/c5j1rnjhubx1r0ywfcnram3csrhg" alt="">
    <div class="d-flex w-100 justify-content-around align-items-center">
      <h3>Maxime</h3>
      <p><i class="fa-regular fa-calendar text-pmured"></i> 02/03/2023 - 04/03/2023</p>
      <p class="h5 text-pmured">255€</p>
      <div class="d-flex">
        <a href="#" class="pmugreen-link mr-3">Approve</a>
        <div class="mx-3"></div>
        <a href="#" class="pmured-link">Decline</a>
      </div>
    </div>
  </div>
</div>
