<div class="small-form mt-5">
  <h1 id="form_title">AJOUTER UN CHEVAL</h1>
    <%= simple_form_for @horse, url: owner_horses_path do |f| %>
  <div class="container mt-4">
    <div class="row">
      <div class="col-4">
        <%= f.input :name, label:"Nom", placeholder:"Hugo"  %>
      </div>
      <div class="col-2">
        <%= f.input :age, label:"Age", placeholder:"11"  %>
      </div>
      <div class="col-6">
        <%= f.input :photo, as: :file %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <%= f.input :breed, label:"Race", placeholder:"Pur-sang"  %>
      </div>
      <div class="col-6">
        <%= f.input :specialty, label:"Specialitée", placeholder:"Promenade / Trait ..."%>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= f.input :city, label:"Localisation", placeholder:"Ville"%>
      </div>

      <div class="col-4">
        <%= f.input :sex, collection:["Mâle", "Femelle"], label:"Sexe", selected:"Mâle" %>
      </div>

      <div class="col-4">
        <%= f.input :price, label:"Prix", placeholder:"€"%>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <%= f.input :description %>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <%= f.submit class:"btn btn-pmured mt-4 pull-right"%>
    </div>
    <div class="row text-center mt-3">
      <%= link_to "Retour à l'écurie", owner_horses_path, class: "pmured-link" %>
    </div>
  </div>
</div>
<% end %>
