<!DOCTYPE html>
<html>
  <head>
    <title>FeraCheval</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-success px-3">
      <a class="navbar-brand logo-font" href="/">
        <%= image_tag('logo.jpg', size: '50')%>
        FeraCheval
      </a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2">
            <%= link_to "Louer un cheval", horses_path, class: "nav-link-pmu" %>
          </li>
          <li class="nav-item mx-2">
          </li>
        </ul>
          <div class="navbar-button">
            <%= link_to "S'inscrire", owner_horses_path, class: "btn btn-success mx-1" %>
            <%= link_to "Se connecter", owner_horses_path, class: "btn btn-success mx-1" %>
          </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
